---
import type { Author, Note, Link } from "../types/types";
import Links from "./Links.astro";
import Authors from "./Authors.astro";
import Notes from "./Notes.astro";

interface Props {
  title: any;
  authors: Author[];
  conference?: string;
  notes?: Note[];
  links: Link[];
  logoSrc?: string;
}

const { title, authors, conference, notes, links, logoSrc } = Astro.props as Props;
---

<header class="flex flex-col gap-10 items-center mb-6">
  <div class="flex flex-row items-center gap-4 justify-center">
    {logoSrc && (
      <img
        src={logoSrc}
        alt="University logo"
        class="h-20 inline-block"
      />
    )}
    <h1 class="text-center text-4xl">
      {typeof title === 'string'
        ? <Fragment set:html={title} />
        : title}
    </h1>
  </div>
  <div class="flex flex-col gap-6 items-center">
    <Authors authors={authors} />
    {conference && <p class="text-center">{conference}</p>}
    {notes && <Notes notes={notes} />}
    {links && <Links links={links} />}
  </div>
</header>