---
import type { Author, Note, Link } from "../types/types";
import Links from "./Links.astro";
import Authors from "./Authors.astro";
import Notes from "./Notes.astro";

interface Props {
  title: any;
  authors: Author[];
  conference?: string;
  conferenceIcon?: string;
  notes?: Note[];
  links: Link[];
  logoSrc?: string;
}

const { title, authors, conference, conferenceIcon, notes, links, logoSrc } = Astro.props as Props;
---

<header class="flex flex-col gap-10 items-center mb-6">
  <div class="flex flex-row items-center gap-4 justify-center">
    {logoSrc && (
      <img
        src={logoSrc}
        alt="University logo"
        class="h-24 inline-block"
      />
    )}
    <h1 class="text-center text-4xl">
      {typeof title === 'string'
        ? <Fragment set:html={title} />
        : title}
    </h1>
  </div>
  <div class="flex flex-col gap-6 items-center">
    <Authors authors={authors} />
    {conference && (
      <div class="flex flex-row items-center gap-2 justify-center">
        {conferenceIcon && (
          <img
            src={conferenceIcon}
            alt="Conference logo"
            class="h-6 w-6"
          />
        )}
        <p class="text-center">{conference}</p>
      </div>
    )}
    {notes && <Notes notes={notes} />}
    {links && <Links links={links} />}
  </div>
</header>